*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 225, 225);
    height: 100vh;
    font-size: 16px;
}
 
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px 0;
    background-color: rgb(31, 31, 153);
    color: white;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

#profile{
    margin-top: 10px;
}
 
.content{
    margin: 10px 20px 10px 20px;
    background-color: white;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
 

.declare-form{
    display: flex;
    flex-direction: column;
}

label{
    margin: 10px 0;
}
.ecors-plan-row, option{
    text-align: center;
}

.ecors-button-declare{
    width: 60px;
    margin: 10px 0;
}

.ecors-dialog{
    padding: 30px;
    align-self: center;
    justify-self: center;
}