body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.header{
    margin-top: 50px;
}

td {
    border-bottom: solid black;
    padding: 10px;
    margin: 0;
    outline: none;
}
table {
    border: solid black;
    padding: 10px;
    margin: 0;
    outline: none;
}